.background_set {
  background-image: url("cloud_background.jfif");
}

/* upload page*/

.box {
  background-color: white;
  width: 500px;
  height: 500px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal_overlay {
  /* width: 800px;
  height: 600px; */
  width: 100%;
  height: 100%;
  /* width: 60%;
  height: 80%; */
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* width: 100%;
  height: 100%; */
  width: 60%;
  height: 80%;
  /* width: 600px;
  height: 800px; */
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.upload_left {
  /*  background-color: beige;*/
  width: 50%;
  float: left;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.upload_left_pic {
  overflow: hidden;
  object-fit: scale-down;
  margin: 0 auto;
}
.upload_right {
  overflow-y: auto;
  /*  padding-left: 10px;*/
  padding: 0px 10px;

  /*  background-color: aliceblue;*/
  width: 50%;
  float: right;
}

.upload_upper {
  display: inline-block;
}

.icon {
  width: 1rem;
  height: 1rem;
  object-fit: scale-down;
  font-size: 1rem;
  image-rendering: 1rem;
  width: 10px;
  height: 10px;
}

/* 메인 화면에 들어갈 css */
.home_main_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;

  
  background-color: rgb(195, 213, 247); /* 배경 약간 회색 */

}

.body_form {
  margin-right: 0px;
  display: flex;

  flex-wrap : wrap;
  flex-direction: row;
  

}
.body_form .child{

    flex : 1;
} 
.left{
  padding-top: 50px;
  background-color: rgb(195, 213, 247);

}

.right{
  padding-top: 50px;
  background-color: rgb(195, 213, 247); 


}




/* 피드 */

.feed_box {
  background-color: white;
  width: 800px;
  margin: 10px 0px 100px;
  height:750px;
  padding-bottom: 200px;
}


.feed_img {
  width: 100%;
  object-fit: contain;
}

.feed_content {
  padding: 0px 10px;
}

.feed_like {
  padding: 0px 10px;
}

.feed_reply {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.feed_txt {
  font-size: 14px;
}

.feed_icon {
  padding: 5px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
}
span {
  padding-right: 5px;
}

.avata-sm {
  width: 20px;
  height: 20px;
}

.feed_name {
  padding: 10px;
  display: flex;
  align-items: center;
}

/* 피드 프로필 박스 css*/
.feed_name_txt {
  font-size: 16px;
  padding: 0px 10px;
  font-weight: bold;
}

.feed_profile_box {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
}
.feed_profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**/
.name_content {
  display: flex;
  flex-direction: column;
}

.name_content_txt {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: bold;
  color: lightgray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

.feed_big_profile_box {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  overflow: hidden;
}

.link_txt {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.recommend_box {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.comment_box {
  margin: 40px 0 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: lightgray;
  display: flex;
  flex-direction: column;
}

/* profile_part */

.profile_photo {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  margin: 30px;
}

.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_body {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  z-index: 1;
  background-color: #fafafa;
  flex-wrap: wrap;
}
.sub_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  border: 2px solid silver;
  align-items: center;
  padding: 0px 0px 40px 0px;
}

.profile_button {
  text-align: right;
}

.modify {
  margin: 30px 300px;
}

.row_feed {
  width: 240px;
  height: 240px;
  object-fit: cover;
  margin: 10px;
}

.feed_body {
  display: flex;
  border: 2px solid silver;
  width: 900px;
  align-items: center;
}

.sub_feed_body {
  display: flex;
  flex-direction: row;
  min-width: 900px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.big_feed {
  display: flex;

  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  border: 2px soild;
}

.feed_comment {
  display: flex;
  flex-direction: row;
}

.asd {

  float:right;
}





/* diary 글 박스 */
.dairy_post_box {
  background-color: white;
  width: 800px;
  margin: 10px 0px 100px;;
  min-height: 750px;
  padding-bottom: 200px;
}

