* {
  font-family: "Gowun Dodum", sans-serif;
  box-sizing: border-box;
}

span {
  padding-right: 5px;
}

div.over {
  overflow: auto;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(#c2f3ff, #64b3f4);
  border-radius: 5px;
}

/* 회원가입 */
.signup_modal {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 5%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin:0 auto;
  width: 690px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* 로그인/회원가입 페이지 배경 */
.background_set {
  background-image: url("images/BackgroundImage.jpg");
  background-size: cover;
}

/* 메인피드/프로필 배경 */
.post_list_background_set{
  background-image: url("images/BackgroundImage.jpg");
  background-size: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* 업로드/업데이트 페이지 */
.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60%;
  height: 80%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.upload_left {
  width: 50%;
  float: left;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.upload_preview {
  overflow: hidden;
  object-fit: scale-down;
  padding-bottom:20px;
  display: flex;
  align-items: center;
  width:100%;
  height:100%;
}
.upload_right {
  overflow-y: auto;
  padding: 0px 10px;
  width: 50%;
  float: right;
}
.upload_upper {
  display: flex; 
  flex-direction: row;
}

/* 아이콘 구현 icon.html */
.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin:1px;
}
.icon_upload label {
  border-radius: 5px;
  border: thin;
}

.icon_upload label:hover {
  background-color: lightgray;
  border: thin;
}

/* like 표시 */
.like > input {
  display: none;
}

.like > postid {
  display: none;
}

.like_icon {
  width: 2.5rem;
  height: 2.5rem;
}

.feed_txt {
  border:none;
  /* font-size: 14px; */
}


/* post_list.html */
.home_main_body {
  display: flex;
  justify-content:center;
  left: 0px;
  right: 0;
}

.calender{
  width: 500px; 

}

.body_form {
  display: flex;
  justify-content:center; 
  flex-flow: column wrap;
  margin-bottom: 20px;
}

.sub_body_form {
  height: 80vh;
  width: 150vh;
  display: flex;
  background-image: url("images/diary_skyblue.png"); 
  background-repeat : no-repeat;
  background-size: contain;
  flex-direction: row;
  margin-bottom: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.left {
  flex:1;

  display: flex;
  width: 50%;
  margin:10px;
  
}

.right {
  display: flex;
  width: 50%;
  margin: 10px;

}

.left_feed_box {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 12% 5% 5%;
  width: 100%;

  
}
.right_feed_box {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 12%;
  width:95%;
  
  
}
.feed_name {
  padding: 2rem 0 1rem 0%;
  display: flex;
  align-items:center;
  vertical-align: top; 
}

.big_feed_img {
  flex:1;
  width: 100%;
}
.feed_img {
  flex:1;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 50vh;
  
}
.feed_icon {
  padding: 10px 5px 25px 0px;
  display: flex;
  flex-direction: column;
  vertical-align: bottom; 
}

.big_feed_content {
  display: flex;
  width: 100%;
  height: max-content;
  flex:1;
}

.big_feed_title {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #DCDCDC;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  
  
}
.feed_content {
  padding: 0px 10px;
}
.overflow{
  overflow : auto;
}

/* Comment */
.comment_wrap{
  display: block;
}
.comment{
  height:50px;
}

.comment-input {
  height: 56px;
  border: 1px solid #dbdbdb;
  width: auto;
}
.comment-input form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-input form textarea {
  height: 100%;
  width: 90%;
  box-sizing: border-box;
  border: none;
  border-radius: 5%;
  margin: 5px;
}
.comment-input form input {
  height: 50%;
  box-sizing: border-box;
  border: none;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #0095f6;
  font-weight: bolder;
}

/* profile_part */
.text{
  border:none;
}

.profile_photo {
  
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  margin:30px 0 0 70px;
}

.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.main_body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

.sub_body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: row;
  flex-direction:row;
  width: 1250px;
  border-radius: 20px;
  padding: 20px 0px 20px 0px;

}
.feed_name_txt {
  font-size: 16px;
  padding: 0px 10px;
  font-weight: bold;
}

.feed_profile_box {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
}

.feed_profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row_feed {
  width: 240px;
  height: 240px;
  object-fit: cover;
  margin: 10px;
}

.feed_body {
  display: flex;
  border: 2px solid silver;
  border-radius: 20px;
  width: 900px;
  padding : 12px ;
}

.sub_feed_body {
  display: flex;
  flex-direction: row;
  min-width: 800px;
  height: 600px;
  flex-wrap: wrap;
  overflow-y : scroll;
  justify-content: flex-start;
}

.big_feed {
  display: flex;

  width: 280px;
  height: 280px;
  align-items: center;
  justify-content: center;
  border: 2px soild;
}

.profile_modify {
  margin: 0 200px;
}


/* nav */
.avata-sm {
  width: 20px;
  height: 20px;
}
.searchbutton {
  border:none;
}

/* post_detail */
.postmodal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 900px;
  height: 600px;
  position: relative;
  display: flex;
  padding: 10px;
}

.detail_title {
  margin: 25px 10px 10px 10px;
  border: 5px double #DCDCDC; 
  padding: 0.4em;
  display: block;
  overflow-wrap: break-word;
  text-align:center;
}
.detail_content {
  margin: 10px 10px 30px 10px;
}
.postmodal_window .child {
  flex: 1;
}
.detail_photo {
  width: 450px;
  height: 400px;
  object-fit: contain;
  margin: 0px;
}
.detail_buttons{
  position:absolute;
  bottom:5%;
  right: 5%;
}


/* 정체불명 */

/* .desc-box {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 22px;

  
} */

/* .dairy_post_box {
  background-color: white;
  width: 800px;
  margin: 10px 0px 100px;
  min-height: 750px;
  padding-bottom: 200px;
} */

/* .feed_like {
  padding: 0px 10px;
} */

/* .feed_reply {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
} */

/* .feed_reply_write {
  margin-top: 10px;
  border-top: 1px solid silver;
  display: flex;
  align-items: center;
} */

/* .name_content {
  display: flex;
  flex-direction: column;
} */

/* .name_content_txt {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: bold;
  color: lightgray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
} */

/* .feed_big_profile_box {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  overflow: hidden;
} */

/* .link_txt {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
} */

/* .recommend_box {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
} */

/* .comment_box {
  margin: 40px 0 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: lightgray;
  display: flex;
  flex-direction: column;
} */
/* .profile_button {
  text-align: right;
} */


/* .feed_comment {
  display: flex;
  flex-direction: column;
} */