.background_set {
  background-image: url("cloud_background.jfif");
}

/* upload page*/

.box {
  background-color: white;
  width: 500px;
  height: 500px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 800px;
  height: 600px;
  position: relative;
  padding: 10px;
}

/* 메인 화면에 들어갈 css */
.home_main_body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: #fafafa; /* 배경 약간 회색 */
}

.left_body {
  /* background-color: skyblue; */
  margin-right: 100px;
  width: 500px;
  height: 2000px;
  display: flex;
  flex-direction: column;
}

.right_body {
  /* background-color: yellow; */
  width: 300px;
  height: 1000px;
  left: 72%;
  position: fixed;
}

/* 피드 */
.feed_box {
  background-color: white;
  width: 480px;
  margin: 10px;
  min-height: auto;
}

.feed_img {
  width: 100%;
  object-fit: contain;
}

.feed_content {
  padding: 0px 10px;
}

.feed_like {
  padding: 0px 10px;
}

.feed_reply {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}

.feed_txt {
  font-size: 14px;
}

.feed_icon {
  padding: 5px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
}
span {
  padding-right: 5px;
}

.avata-sm {
  width: 20px;
  height: 20px;
}

.feed_name {
  padding: 10px;
  display: flex;
  align-items: center;
}

/* 피드 프로필 박스 css*/
.feed_name_txt {
  font-size: 14px;
  padding: 0px 10px;
  font-weight: bold;
}

.feed_profile_box {
  width: 40px;
  height: 40px;
  border-radius: 70%;
  overflow: hidden;
}
.feed_profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**/
.name_content {
  display: flex;
  flex-direction: column;
}

.name_content_txt {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: bold;
  color: lightgray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

.feed_big_profile_box {
  width: 60px;
  height: 60px;
  border-radius: 70%;
  overflow: hidden;
}

.link_txt {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.recommend_box {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.comment_box {
  margin: 40px 0 0 5px;
  font-size: 12px;
  font-weight: bold;
  color: lightgray;
  display: flex;
  flex-direction: column;
}

/* profile_part */

.profile_photo {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  margin: 30px;
}

.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_body {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  z-index: 1;
  background-color: #fafafa;
  flex-wrap: wrap;
  
  
}
.sub_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
  border: 2px solid silver;
  align-items: center;
  padding : 0px 0px 40px 0px;
  
}

.profile_button {
  text-align: right;
}

.modify {
  margin: 30px 300px;
}


.row_feed {
  width: 240px;
  height: 240px;
  object-fit: cover;
  margin: 10px;
}

.feed_body {
  display: flex;
  border: 2px solid silver;
  width: 900px;
  align-items: center;
  
  

  
}

.sub_feed_body {
  display: flex;
  flex-direction: row;
  min-width: 900px;
  flex-wrap: wrap;
  justify-content:flex-start
}

.big_feed {
  display: flex;
  width:300px; 
  height:300px; 
  margin: 10px 0px;
  align-items: center;
  justify-content: center;
}

/* post_detail */
.postmodal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.postmodal_window {
  display:flex;
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 900px;
  height: 600px;
  position: relative;
  padding: 10px;
}

.postmodal_window .child {
  flex:1;
}

.detail_photo {
  width: 450px;
  height: 400px;
  object-fit: cover;
  margin: 0px;
}
