<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <!-- 요기에 구글 머티리얼 아이콘 -->
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  </head>
  <body>
    {%load static %}{% static "" as baseUrl %}
    {% comment %} opacity:0.5 내비바 투명도 {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top " style=" width: 100%; position: fixed; justify-content : space-between;">

      {% comment %} 상단 고정 sticky-top {% endcomment %}
      
        <div>
        <img style="height: 50px; object-fit: contain; padding-right:300px;" src="{{baseUrl}}images/logo.png" />
        </div>
        <div>
          <form class="form-inline">
            <input size="20" style= "height:30px;"class="form-control" type="text" placeholder="Search Id" id="id_name" onkeyup="if(window.event.keyCode==13){getValueInput()}"/>
            <button class="searchbutton" type="button" onclick="getValueInput()"><span class="material-icons-outlined">
              search
              </span></button>
          </form>
        </div>

        <div>
          <ul class="navbar-nav ml-auto" style = "padding-left:300px;">

            <div class="container-fluid">
              <div>
                <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span class="material-icons-outlined" style = 'color:#666666;'>calendar_month</span>
                </a>
              </div>
              <div class="collapse" id="collapseExample">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <form method="GET" action="{% url 'dailyphoto:search' %}" id = "form1">
                  <div id="search" style="margin-left:100px;">
                    <input name="search"  type="date" id = "date1" />
                    {% comment %} <button class="btn btn-basic " style="margin-bottom:10px;"type="submit">검색</button> {% endcomment %}
                  </div>
                </form>
              </div>
            </div>
            
            <a class="nav-link" href="{% url 'common:logout' %}"><span class="material-icons-outlined">logout</span></a>
            <a class="nav-link" href="{% url 'dailyphoto:index' %}"><span class="material-icons">home</span></a>
            <a class="nav-link" href="{% url 'dailyphoto:post_create' %}"><span class="material-icons-outlined">add_box</span></a>
            <a class="nav-link" href="/dailyphoto/profile/{{user.username}}">
              {% if user.profile.image %}
            <img src="/media/{{user.profile.image}}" class="avata-sm rounded-circle"/></a>
              {% else %}
            <img src="/static/images/DefualtProfile.jpg" class="avata-sm rounded-circle"/></a>
            {% endif %}
            </ul>
          </div>
        
    </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

  <script>
    const getValueInput = () =>{
      let inputValue = document.getElementById("id_name").value;
      if (inputValue!==''){
      var link = 'http://127.0.0.1:8000/dailyphoto/profile/'+inputValue;
      location.href = link;
    }
    else{
      alert('검색할 아이디를 사용해주세요')
    }
  }
  </script>
  <script>
  $('#date1').change(function(){
    console.log('Submiting form');                
    $('#form1').submit();
  });
</script>
  </body>
</html>
