
{% excludes 'base.html' %}

<a href="https://www.flaticon.com/free-icons/cute" title="cute icons">Cute icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/sun" title="sun icons">Sun icons created by Freepik - Flaticon</a>

<div> Icons made by <a href="https://www.freepik.com" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>


<a href="https://www.flaticon.com/free-icons/moon" title="moon icons">Moon icons created by Freepik - Flaticon</a>


<a href="https://www.flaticon.com/free-icons/fahrenheit" title="fahrenheit icons">Fahrenheit icons created by pojok d - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/snow" title="snow icons">Snow icons created by Freepik - Flaticon</a>

무지개
<a href="https://www.flaticon.com/free-icons/rainbow" title="rainbow icons">Rainbow icons created by Freepik - Flaticon</a>
전화기
<a href="https://www.flaticon.com/free-icons/whatsapp" title="whatsapp icons">Whatsapp icons created by Freepik - Flaticon</a>

약2
<div> Icons made by <a href="https://www.flaticon.com/authors/catkuro" title="catkuro"> catkuro </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>

카메라
<a href="https://www.flaticon.com/free-icons/camera" title="camera icons">Camera icons created by Freepik - Flaticon</a>

성경
<a href="https://www.flaticon.com/free-icons/bible" title="bible icons">Bible icons created by Freepik - Flaticon</a>

평화
<a href="https://www.flaticon.com/free-icons/peace" title="peace icons">Peace icons created by Freepik - Flaticon</a>

혼란
<a href="https://www.flaticon.com/free-icons/confused" title="confused icons">Confused icons created by Freepik - Flaticon</a>

하트
<a href="https://www.flaticon.com/free-icons/love" title="love icons">Love icons created by Freepik - Flaticon</a>

히피하트
<a href="https://www.flaticon.com/free-icons/love" title="love icons">Love icons created by Freepik - Flaticon</a>

깨진하트
<a href="https://www.flaticon.com/free-icons/broken-heart" title="broken heart icons">Broken heart icons created by Freepik - Flaticon</a>

하드워크
<a href="https://www.flaticon.com/free-icons/hard-work" title="hard-work icons">Hard-work icons created by Freepik - Flaticon</a>

노래
<a href="https://www.flaticon.com/free-icons/microphone" title="microphone icons">Microphone icons created by Freepik - Flaticon</a>

챗
<a href="https://www.flaticon.com/free-icons/message" title="message icons">Message icons created by Freepik - Flaticon</a>

치과
<a href="https://www.flaticon.com/free-icons/tooth" title="tooth icons">Tooth icons created by Freepik - Flaticon</a>

레벨업
<a href="https://www.flaticon.com/free-icons/arcade-game" title="arcade game icons">Arcade game icons created by Freepik - Flaticon</a>
학교
<a href="https://www.flaticon.com/free-icons/campus" title="campus icons">Campus icons created by Freepik - Flaticon</a>
투표
<a href="https://www.flaticon.com/free-icons/civil-rights" title="civil rights icons">Civil rights icons created by Freepik - Flaticon</a>
세탁
<a href="https://www.flaticon.com/free-icons/washer" title="washer icons">Washer icons created by Freepik - Flaticon</a>

할머니
<a href="https://www.flaticon.com/free-icons/old-woman" title="old woman icons">Old woman icons created by Freepik - Flaticon</a>
운동
<a href="https://www.flaticon.com/free-icons/gym" title="gym icons">Gym icons created by Freepik - Flaticon</a>
게임오버
<a href="https://www.flaticon.com/free-icons/game-over" title="game-over icons">Game-over icons created by Freepik - Flaticon</a>

코비드
<a href="https://www.flaticon.com/free-icons/virus" title="virus icons">Virus icons created by Freepik - Flaticon</a>
팔씨름
<a href="https://www.flaticon.com/free-icons/arm-wrestling" title="arm wrestling icons">Arm wrestling icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/looking-up" title="looking up icons">Looking up icons created by Designspace Team - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/yummy" title="yummy icons">Yummy icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/laughing" title="laughing icons">Laughing icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/cool" title="cool icons">Cool icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/neutral" title="neutral icons">Neutral icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/emoji" title="emoji icons">Emoji icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/devil" title="devil icons">Devil icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/looking-up" title="looking up icons">Looking up icons created by Designspace Team - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/rolling-eyes" title="rolling eyes icons">Rolling eyes icons created by Pixel perfect - Flaticon</a>







