<div id="icons">
  {% if {{post.icon_weather}}=='sunny' %}

  <img src="/static/images/icons/weather/sun-solid.svg" class="icon" alt="" />

  {% else %}
  <span>else문</span>
  {% endif%}
</div>

<!-- icons
        <script>
          console.log("script 진입");
          let weather={{post.icon_weather}}
          if (weather == "sunny") {
            $("#icons").append(`<span><i class="fas fa-solid fa-sun">맑음<span>`);
          } else {
            console.log("else");
          }
        </script> -->
