{% extends 'base.html' %} {% block content %}

<div class="home_main_body" style="padding-top: 80px">
  <div class="body_form">
    <form action="{% url 'dailyphoto:index' post.create_date %}" method="post">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit" value="post">
    </form>
    {% for post in post_list %}
    <div class="sub_body_form">
      <div class="left">
        <div class="left_feed_box">
          <div class="feed_name">
            <div class="feed_profile_box">
              <img class="feed_profile_img" src="/media/{{post.author.profile.image}}" />
            </div>
            <span class="feed_name_txt">{{ post.author.username}}</span>
          </div>
          <div class="big_feed_img">
            {% if post.photo %}
            <img class="feed_img" src="/media/{{post.photo}}" />
            {% else %}
            <img class="feed_img" src="/static/images/DailyphotoLogo_r.png" />
            {% endif%}
          </div>
          <div class="feed_icon">
            <!-- icon -->
            {% block likes %}{% include 'dailyphoto/like.html' %}{% endblock %}
            <!-- like -->
            {% block icons %} {% include 'dailyphoto/icons.html' %} {% endblock %}
            <p>Uploaded Date:{{ post.create_date | date:' Y.m.d' }}</p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="right_feed_box">
          <div class="big_feed_title">{{post.title}}</div>
          <div class="big_feed_content overflow">{{post.content}}</div>
          
      
            
            
              <div class="comment overflow" >
                  
                {% for comment in post.comment_set.all %}
                  <div id="comment-{{comment.id}} " class="clearfix" >
                    <b>{{comment.author.username}}</b>
                    {{comment.content}}
                 
                  {% if user.id == comment.author.id %}
                        <div style="float:right">
                        <a style="color:black; " href="{% url 'dailyphoto:comment_delete' comment.id %}" >
                          <span class="material-icons-outlined" >delete</span></a>
                        </div>
                        
                        {% endif %} 
                  
                      </div> 
                {%endfor%} 
                     

                
              </div>
          
              
          
               <!-- comment input -->
              <div class="comment-input overflow">  
                <form action="{% url 'dailyphoto:comment_create' post.id %}" method="post">
                  {% csrf_token %}
                  {{ comment_form }}
                  <input type="submit" value="post">
                </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
