{% include 'base.html' %}

{% block content %}
<div class="modal_overlay">
  <div class="postmodal_window">
    {% comment %} 사진파트 {% endcomment %}
    <div class="child">
      <div class="feed_name">
        <div class="feed_profile_box">
          {% if post.author.profile.image %}
          <img class="profile_img" src="{{post.author.profile.image.url}}" />
          {% else %}
          <img class="profile_img" src="/static/images/DefualtProfile.jpg" />
          {% endif %}
        </div>
        <span class="feed_name_txt">{{ post.author.username}}</span>
      </div>
      {% if post.photo %}
      <div><img class="detail_photo" src = "/media/{{post.photo}}"></div>
      {% else %}
      <div><img class="detail_photo" src = "/static/images/logo.png"></div>
      {% endif%}
      <!-- like -->
      <span class="feed_txt"><b>좋아요 {{post.like_count}}개</b></span>
      <br>
        <div style="font-size: small;">
        게시 날짜:{{ post.create_date | date:' Y.m.d' }}
      {% if post.modify_date %}
      / 수정 날짜:{{post.modify_date|date:' Y.m.d'}}
      {% endif %}
      </div>
    </div>
    
    {% comment %} 내용 파트 {% endcomment %}
    <div class="child over">
      <span class="material-icons-outlined" style="float:right;" onClick="history.go(-1)">cancel</span>
      <div>
        <h5 class="detail_title">{{post.title}}</h5>
      <!-- icon -->
      <div class="ml-3">
      {% block icons %}
      {% include 'dailyphoto/icons.html' %}
      {% endblock %}<br>
      </div>
    </div>
      <div class="detail_content">
        <p style='font-size:25px;'>{{post.content}}</p>
      </div>
      {% if post.author == request.user %}
      <div class="detail_buttons">
        <a href="{% url 'dailyphoto:post_update' post.id %}"><button id="modify_{{post.id}}" class="btn btn-light" style="border-color: #aaaaaa;" type="submit">수정</button></a>
        <button id="delete_{{post.id}}" class="btn btn-light" style="border-color: #aaaaaa;" type="submit" onclick="if(confirm('삭제하시겠습니까?')){location.href=`{% url 'dailyphoto:post_delete' post.id%}`}">삭제</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
