{% extends 'base.html' %}

{% block content %}


<div class = 'models'>
    <div class="row">
        <div class="col-4">
            <img src={% if person.profile.image %}
                "{{ person.profile.image.url }}"
            {% else %}
                "https://i.stack.imgur.com/34AD2.jpg"
            {% endif %} 
            width="300rem" style="border-radius: 50%;" alt="">
        </div>
            <h1>{{ person.username }}</h1>
                    {% if person.username == user.username %}
                    <a href="{% url 'dailyphoto:profile_modify' %}"><button class="btn btn-success">프로필 편집</button></a>
                    {% endif %}
                </h2>
                <p>{{ person.profile.nickname }}</p>
                <p>{{ person.profile.description }}</p>
        </div>
    </div>
</div>

{% endblock %}
