{% include 'base.html' %} {% block content %} {% load bootstrap4 %}
<div class="modal_overlay" id="id_modal_upload">
  <form method="post" class="post-form modal_window" enctype="multipart/form-data" id="form_upload" onsubmit="">
    {% csrf_token %}
    <div class="upload_left">사진</div>
    <div class="upload_right">
      <div class="form-group">
        <label for="content"></label>
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="글 제목을 입력하세요."
          id="id_title"
          value="{{ form.title.value|default_if_none:'' }}"
        />
      </div>
      <input type="date">
      <hr />
      <div class="form-group icon_upload">
        <label><input type="checkbox" name="icons[]" value="happy" /><i class="fas fa-regular fa-face-smile-beam"></i> happy</label>
        <label><input type="checkbox" name="icons[]" value="hearts" /> <i class="fas fa-regular fa-face-smile-hearts"></i> hearts</label>
        <label><input type="checkbox" name="icons[]" value="meh" /> <i class="fas fa-regular fa-face-meh"></i> meh </label>
        <br />
        <label><input type="checkbox" name="icons[]" value="sunny" /><i class="fas fa-sun"></i> sunny</label>
        <label><input type="checkbox" name="icons[]" value="cloud" /> <i class="fas fa-solid fa-clouds"></i> cloud</label>
        <label><input type="checkbox" name="icons[]" value="rain" /><i class="fas fa-cloud-showers-heavy"></i> rain</label>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="content" id="id_content" rows="10" placeholder="오늘 하루는 무슨 일이 있었나요?">
{{ form.content.value|default_if_none:'' }}</textarea
        >
      </div>
      <div>
        <input type="file" name="photo" accept="image/*" id="id_photo" />
      </div>
      <button type="submit" class="btn btn-primary" id="upload"><i class="fas fa-save"></i> 저장하기</button>
      <a href=" {% url 'dailyphoto:index' %}" class="btn btn-primary">닫기</a>
    </div>
  </form>
</div>
<script>
  console.log("upload_page 인클루드 되었습니다. ");
</script>

{% endblock %}
